.photo{
    width: 80px;
    height: 50px;
    background-color: #1ad5ff;
    margin-top: 20%;
}
.skill1 {
    border: 1px solid;
    width: 300px;
}

.n {
    margin-top: 210px;
}
























