.skill {
    display: flex;
    flex-direction: column;
    /*justify-content: flex-start;*/
    align-items: center;
    /*height: 500px;*/
    /*width: 300px;*/
    margin-top:50px;
}
.photo {
    width: 80px;
    height: 100px;
    background-color: #251170;
    border-radius: 10px;
    border: 2px solid black ;
}
.description {
    margin-top: 25px;
}
.NameOfSkill {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.1;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.descriptionOfSkill {
    padding-top:15px;
}

@media screen and (max-width: 767px) {
    .skill {
        /*height: 350px;*/
        width: 100%;
        justify-content: flex-start;
    }
}


























