.photo{
    width: 100px;
    height: 200px;
    background-color: #1ad5ff;
    margin-top: 20%;
}
.Skill {
    height: 600px;
    border: 1px solid;
    width: 100%;
}

.descriptionOfSkill {
  margin-top: 100px;
}
























