.projects {
    min-height: 100vh;
    background-color: #ffc3f5;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allProjects {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 767px) {

    .allProjects {
        border: 1px solid;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
