.projects{
  height: 100vh;
  background-color: #ffc3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container{
  width: 80%;
  height: 90%;
  border: 1px solid;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project{
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
