.main {
    min-height: 100vh;
    background-color: #ffb3e6;
    display: flex;
    justify-content: center;
  }

  .container {
    width: 80%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .greeting {
    display: flex;
    flex-direction: column;
  }

  .photo {
    height: 400px;
    width: 300px;
    background-color: green;
  }

@media screen and (max-width: 767px) {
  .container {
    justify-content: center;
    align-items: center;
  }
}