.skills {
    min-height: max-content;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: normal;
    margin-top: 40px;
    margin-bottom: 50px;
}

.allSkills {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

@media screen and (max-width: 767px) {
    .allSkills {
        flex-direction: column;
        justify-content: space-between;
    }
}




