.skills {
    min-height: 100vh;
    background-color: #9bff95;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    border: 1px solid;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allSkills {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}

@media screen and (max-width: 767px) {
    .allSkills {
        flex-direction: column;
        justify-content: space-between;
    }
}




