.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
    height: max-content;
    background-color: #1f1f20;
    position: relative;
}

.forButtonArea {
    width: 400px;
    padding-top: 50px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.forButtonArea button {
    margin-top: 60px;
    width: 150px;
    height: 40px;
    position: relative;

}
.forButtonArea:before {
    content: "";
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: 250px;
    background-color: black;
    opacity: 0.5;


}

.titleOfSkill {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;

}
.description {
    margin-top: 10px;

}


@media screen and (max-width: 767px) {
    .project {
        width: 100%;
    }

    .forButtonArea {
        width: 100%;
    }

}
@media screen and (max-width: 1030px){
    .project {
        margin-top: 20px;
    }
}