.project {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 400px;
    height: max-content;
    background-color: #1f1f20;
    position: relative;
}

.forButtonArea {
    width: 400px;
    padding-top: 50px;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.forButtonArea button {
    margin-top: 60px;
    width: 150px;
    height: 40px;
    position: relative;

}
.forButtonArea:before {
    content: "";
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    height: 250px;
    background-color: black;
    opacity: 0.1;
    transition: 0.7s;
}
.forButtonArea:hover:before{
    opacity: 0.6;
}

.forButtonArea button {
    padding: 8px 30px;
    background-color: transparent;
    color: transparent;
    border: none;
    max-width: 120px;
    max-height: 40px;
    outline: none;
    opacity: 0.8;
    /*text-transform: uppercase;*/
    /*outline: none;*/
    /*text-transform: uppercase;*/
    /*position: relative;*/
    /*z-index: 0;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

/*.forButtonArea button:after {*/
/*    content: '';*/
/*    position: absolute;*/
/*    width: 40%;*/
/*    height: 7px;*/
/*    background-color: #251170;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*    transition: 0.5s;*/
/*}*/
/*.forButtonArea button:hover:after{*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    border: 1px solid white;*/
/*}*/
.forButtonArea:hover button{
    width: 100%;
    height: 100%;
    color: white;
    background-color: #251170;
    border: 1px solid white;
    transition: 0.8s;
}

.titleOfSkill {
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.1;

}
.description {
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .project {
        width: 100%;
    }
    .forButtonArea {
        width: 100%;
    }

}
@media screen and (max-width: 1030px){
    .project {
        margin-top: 20px;
    }
}