.header {
    height: 55px;
    background-color: #393939;
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 2;
}

.container {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav {
    color: white;
    width: 300px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    cursor:pointer;
}

@media screen and (max-width: 767px) {
    .nav {
        width: 100%;
        justify-content: space-around;
    }
}

