.footer {
    position: relative;
    padding-top: 10px;
    height: max-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    margin-top: 3px;
    width: 90px;
    height: 2px;
    background-color: #330099;
}

.social {
    margin-bottom: -15px;
    width: 70%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.contact  {
    width: 50px;
    height: 50px;
    border: 1px solid #330099;
    border-radius: 50%;
    background-color: #330099;
}

.contact:hover {
    background-color: white;
    border: 1px solid white;
    transition: 0.4s;

}

.contact img {
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 767px) {

    .social {
        width: 105%;
        height: 70px;
        display: flex;
        justify-content: space-around;
    }

    .contact {
        width: 40px;
        height: 40px;
    }
}
