.footer {
    height: max-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line {
  margin-top: 10px;
  width: 90px;
  height: 2px;
  background-color: #251170;;
}

.social {
    width: 60%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}

.contact {
    width: 55px;
    height: 55px;
    border: 1px solid white;
    border-radius: 50%;
}

.contact img {
    width: 100%;
    background-color: white;
    border-radius: 50%;
}


@media screen and (max-width: 767px) {

    .social {
        width: 105%;
        height: 70px;
        display: flex;
        justify-content: space-around;
    }

    .contact {
        width: 40px;
        height: 40px;
    }

}
