.contacts {
    min-height: 100vh;
    background-color: #ff5153;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form {
    width: 80%;
    border: 1px solid;
    height: 500px;
}

.forTextarea {
    width: 600px;
    height: 400px;
}

.forInputs {
    margin: 15px;
}

.button {
    width: 150px;
    height: 30px;
}

@media screen and (max-width: 767px) {

    .form {
        height: 450px;
    }

    .forTextarea {
        width: 80%;
        height: 300px;
    }

}