.contacts {
    min-height: max-content;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 80%;
    height: 500px;
    margin-bottom: -180px;
    margin-top: 40px;
}

.forInputs {
    background: #252527 !important;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    outline: none;
    width: 450px;
    height: 30px;
    padding: 0 15px;
    color: white;
    margin-bottom: 15px;
}


.forTextarea {
    background: #252527 !important;
    border: 1px solid #4a4a4a;
    font-size: 12px;
    outline: none;
    width: 450px;
    padding: 15px;
    color: white;
    height: 200px;
}

@media screen and (max-width: 767px) {

    .form {
        height: 450px;
    }

    .forTextarea, .forInputs {
        width: 80%;

    }

}